<form id="search-form">
    <div class="input-group">
        <span class="input-group-btn" id="search-btn">
            <button class="btn btn-primary" (click)="search(searchBox.value)">
              <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
            </button>
        </span>
        <input #searchBox (keyup)="search(searchBox.value)"
               id="search-box"
               type="text"
               value=""
               class="form-control"
               placeholder="Search Track..."
               aria-describedby="search-btn"
        />
    </div>
</form>


<div class="list-group">
    <a *ngFor="let track of tracks | async" class="list-group-item media">
        <div class="media-left">

            <img class="media-object" src="{{track.album.images[2].url}}" alt="{{track.album.name}}">

        </div>
        <div class="media-body">
            <h4 class="media-heading">{{track.name}}</h4>
            by <span *ngFor="let artist of track.artists">{{artist.name}}</span>
        </div>
        <div class="media-left media-middle">
            <button class="btn btn-primary">
                Select
            </button>
        </div>

    </a>
</div>



