<div class="thumbnail">
    <img [src]="post.track.album.imageUrl" alt="Album Image">
    <div class="caption">
        <h3>{{post.track.name}}</h3>
        <h4>by {{post.track.artist.name}}</h4>
        <h5>{{post.track.album.name}}</h5>
        <post-audio *ngIf="post.track.previewUrl" [trackUrl]="post.track.previewUrl"></post-audio>
    </div>
    <div class="post-description">
        <p>
            {{post.description}}
        </p>
        <p><span class="pull-right"> - {{post.user.name}}</span></p>
    </div>
</div>
