<div class="page-header">
    <h1>Post page
        <small>Share your favourite songs!</small>
    </h1>
</div>
<div class="container-fluid">
    <div #masonry class="masonry">
        <div class="masonry-item">something</div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item masonry-item--height3"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item masonry-item--height3"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height3"></div>
        <div class="masonry-item masonry-item--height2"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item"></div>
        <div class="masonry-item masonry-item--height2"></div>
    </div>
</div>
